adal==1.2.7
adlfs==2024.2.0
aenum==3.1.16
agate==1.9.1
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioitertools==0.11.0
aiosignal==1.4.0
alembic==1.13.1
annotated-types==0.7.0
anyio==4.12.1
apache-airflow==2.9.0
apache-airflow-providers-amazon==8.19.0
apache-airflow-providers-cncf-kubernetes==8.0.1
apache-airflow-providers-common-compat==1.6.1
apache-airflow-providers-common-io==1.3.0
apache-airflow-providers-common-sql==1.26.0
apache-airflow-providers-docker==3.9.2
apache-airflow-providers-fab==1.0.2
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-google==15.1.0
apache-airflow-providers-http==4.10.0
apache-airflow-providers-imap==3.5.0
apache-airflow-providers-microsoft-azure==9.0.1
apache-airflow-providers-postgres==5.10.2
apache-airflow-providers-smtp==1.6.1
apache-airflow-providers-sqlite==3.7.1
apispec==6.6.0
argcomplete==3.2.3
asgiref==3.8.1
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.2.0
azure-batch==14.2.0
azure-common==1.1.28
azure-core==1.30.1
azure-cosmos==4.5.1
azure-datalake-store==0.0.53
azure-identity==1.15.0
azure-keyvault-secrets==4.8.0
azure-kusto-data==4.3.1
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-core==1.4.0
azure-mgmt-cosmosdb==9.4.0
azure-mgmt-datafactory==6.1.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==23.0.1
azure-mgmt-storage==21.1.0
azure-nspkg==3.0.2
azure-servicebus==7.12.1
azure-storage-blob==12.19.1
azure-storage-file-datalake==12.14.0
azure-storage-file-share==12.15.0
azure-synapse-artifacts==0.18.0
azure-synapse-spark==0.7.0
babel==2.14.0
backoff==2.2.1
backports-asyncio-runner==1.2.0
backports-tarfile==1.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
boto3==1.35.99
botocore==1.35.99
build==1.4.0
cachelib==0.9.0
cachetools==5.3.3
cattrs==24.1.3
certifi==2024.2.2
cffi==1.16.0
cfgv==3.5.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.3.1
clickclick==20.10.2
colorama==0.4.6
colorlog==4.8.0
configupdater==3.2
connexion==2.14.2
coverage==7.13.3
cron-descriptor==1.4.3
croniter==6.0.0
cryptography==41.0.7
daff==1.4.2
databricks-sdk==0.17.0
databricks-sql-connector==3.7.4
db-dtypes==1.5.0
dbt-adapters==1.3.2
dbt-bigquery==1.8.3
dbt-common==1.3.0
dbt-core==1.8.8
dbt-databricks==1.9.8
dbt-extractor==0.6.0
dbt-loom==0.8.0
dbt-postgres==1.8.2
dbt-semantic-interfaces==0.5.1
dbt-spark==1.8.0
decorator==5.2.1
deepdiff==8.6.1
deprecated==1.2.14
deprecation==2.1.0
dill==0.3.1.1
distlib==0.4.0
distro==1.9.0
dnspython==2.6.1
docker==7.0.0
docstring-parser==0.17.0
docutils==0.16
email-validator==2.1.1
et-xmlfile==2.0.0
exceptiongroup==1.2.0
fastuuid==0.14.0
filelock==3.20.3
flask==2.2.5
flask-appbuilder==4.4.1
flask-babel==2.0.0
flask-caching==2.1.0
flask-jwt-extended==4.6.0
flask-limiter==3.5.1
flask-login==0.6.3
flask-session==0.5.0
flask-sqlalchemy==2.5.1
flask-wtf==1.2.1
frozenlist==1.4.1
fsspec==2025.2.0
gcloud-aio-auth==5.4.2
gcloud-aio-bigquery==7.1.0
gcloud-aio-storage==9.6.1
gcsfs==2025.2.0
google-ads==29.0.0
google-analytics-admin==0.27.0
google-api-core==2.29.0
google-api-python-client==2.189.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4
google-cloud-aiplatform==1.136.0
google-cloud-alloydb==0.7.0
google-cloud-appengine-logging==1.8.0
google-cloud-audit-log==0.4.0
google-cloud-automl==2.18.1
google-cloud-batch==0.20.0
google-cloud-bigquery==3.40.0
google-cloud-bigquery-datatransfer==3.21.0
google-cloud-bigtable==2.35.0
google-cloud-build==3.35.0
google-cloud-compute==1.43.0
google-cloud-container==2.63.0
google-cloud-core==2.5.0
google-cloud-datacatalog==3.29.0
google-cloud-dataflow-client==0.11.0
google-cloud-dataform==0.8.0
google-cloud-dataplex==2.16.0
google-cloud-dataproc==5.24.0
google-cloud-dataproc-metastore==1.21.0
google-cloud-dlp==3.34.0
google-cloud-kms==3.10.0
google-cloud-language==2.19.0
google-cloud-logging==3.13.0
google-cloud-managedkafka==0.3.0
google-cloud-memcache==1.14.0
google-cloud-monitoring==2.29.1
google-cloud-orchestration-airflow==1.19.0
google-cloud-os-login==2.19.0
google-cloud-pubsub==2.25.0
google-cloud-redis==2.20.0
google-cloud-resource-manager==1.16.0
google-cloud-run==0.15.0
google-cloud-secret-manager==2.26.0
google-cloud-spanner==3.62.0
google-cloud-speech==2.36.1
google-cloud-storage==2.19.0
google-cloud-storage-transfer==1.19.0
google-cloud-tasks==2.21.0
google-cloud-texttospeech==2.34.0
google-cloud-translate==3.24.0
google-cloud-videointelligence==2.18.0
google-cloud-vision==3.12.1
google-cloud-workflows==1.20.0
google-crc32c==1.8.0
google-genai==1.62.0
google-re2==1.1
google-resumable-media==2.8.0
googleapis-common-protos==1.63.0
greenlet==3.0.3
grpc-google-iam-v1==0.14.3
grpc-interceptor==0.15.4
grpcio==1.78.0
grpcio-gcp==0.2.2
grpcio-status==1.62.3
gunicorn==21.2.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
huggingface-hub==1.4.1
identify==2.6.16
idna==3.6
ijson==3.2.3
immutabledict==4.2.2
importlib-metadata==6.11.0
importlib-resources==6.4.0
inflection==0.5.1
iniconfig==2.3.0
isodate==0.6.1
itsdangerous==2.1.2
jaraco-classes==3.4.0
jaraco-context==6.1.0
jaraco-functools==4.4.0
jinja2==3.1.6
jiter==0.13.0
jmespath==0.10.0
joblib==1.5.3
jsonpath-ng==1.6.1
jsonschema==4.26.0
jsonschema-specifications==2023.12.1
keyring==25.5.0
kubernetes==29.0.0
kubernetes-asyncio==29.0.0
lazy-object-proxy==1.10.0
leather==0.4.1
librt==0.7.8
limits==5.8.0
linkify-it-py==2.0.3
litellm==1.81.8
lockfile==0.12.2
logbook==1.5.3
looker-sdk==26.0.0
lxml==5.2.1
lz4==4.4.5
mako==1.3.2
markdown-it-py==3.0.0
markupsafe==2.1.5
marshmallow==3.21.1
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.28.2
mashumaro==3.14
mdit-py-plugins==0.4.0
mdurl==0.1.2
methodtools==0.4.7
minimal-snowplow-tracker==0.0.2
mmh3==5.2.0
more-itertools==10.2.0
msal==1.34.0
msal-extensions==1.1.0
msgpack==1.1.2
msrest==0.7.1
msrestazure==0.6.4
multidict==6.0.5
mypy==1.19.1
mypy-extensions==1.1.0
networkx==3.4.2
nodeenv==1.10.0
numpy==1.26.4
oauthlib==3.2.2
openai==2.17.0
openlineage-integration-common==1.43.0
openlineage-python==1.43.0
openlineage-sql==1.43.0
openpyxl==3.1.5
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-exporter-otlp-proto-http==1.24.0
opentelemetry-proto==1.24.0
opentelemetry-resourcedetector-gcp==1.9.0a0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
ordered-set==4.1.0
orderly-set==5.5.0
packaging==26.0
pandas==2.1.4
pandas-gbq==0.33.0
parsedatetime==2.6
pathspec==0.12.1
pendulum==3.0.0
pip==26.0.1
platformdirs==4.5.1
pluggy==1.6.0
ply==3.11
portalocker==2.8.2
pre-commit==4.5.1
prison==0.2.1
propcache==0.4.1
proto-plus==1.27.1
protobuf==4.25.8
psutil==5.9.8
psycopg2-binary==2.9.9
pyarrow==23.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyathena==3.6.0
pycparser==2.22
pydantic==2.9.2
pydantic-core==2.23.4
pydata-google-auth==1.9.1
pygments==2.17.2
pyjwt==2.8.0
pyopenssl==25.1.0
pyparsing==3.3.2
pyproject-hooks==1.2.0
pytest==9.0.2
pytest-asyncio==1.3.0
pytest-cov==7.0.0
pytest-describe==3.1.0
pytest-dotenv==0.5.2
pytest-rerunfailures==16.1
pytest-split==0.11.0
python-daemon==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-nvd3==0.15.0
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2024.1
pyyaml==6.0.3
redshift-connector==2.1.0
referencing==0.31.1
regex==2026.1.15
requests==2.32.5
requests-mock==1.12.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rich==13.7.1
rich-argparse==1.4.0
rpds-py==0.30.0
rsa==4.9
ruamel-yaml==0.19.1
s3transfer==0.10.1
scikit-learn==1.5.2
scipy==1.15.3
scramp==1.4.4
setproctitle==1.3.3
setuptools==80.9.0
shapely==2.1.2
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
snowplow-tracker==1.1.0
soupsieve==2.5
sqlalchemy==1.4.52
sqlalchemy-bigquery==1.16.0
sqlalchemy-jsonfield==1.0.2
sqlalchemy-redshift==0.8.14
sqlalchemy-spanner==1.17.2
sqlalchemy-stubs==0.4
sqlalchemy-utils==0.41.2
sqlparams==6.2.0
sqlparse==0.5.4
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
text-unidecode==1.3
threadpoolctl==3.6.0
thrift==0.20.0
tiktoken==0.12.0
time-machine==2.14.1
tokenizers==0.22.2
tomli==2.4.0
tqdm==4.67.3
typer-slim==0.21.1
types-attrs==19.1.0
types-networkx==3.6.1.20251220
types-protobuf==6.32.1.20251210
types-python-dateutil==2.9.0.20260124
types-pytz==2025.2.0.20251108
types-pyyaml==6.0.12.20250915
types-requests==2.32.4.20260107
typing-extensions==4.15.0
tzdata==2024.1
uc-micro-py==1.0.3
unicodecsv==0.14.1
universal-pathlib==0.2.2
uritemplate==4.2.0
urllib3==2.6.3
uv==0.10.0
virtualenv==20.36.1
watchtower==3.1.0
websocket-client==1.7.0
websockets==15.0.1
werkzeug==2.2.3
wirerope==1.0.0
wrapt==1.16.0
wtforms==3.1.2
yarl==1.22.0
zipp==3.18.1
