apache-airflow==3.2.0b1
apache-airflow-providers-amazon==9.21.0

dbt-postgres
dbt-bigquery
dbt-vertica
dbt-databricks
pyspark

s3fs==2025.9.0
fsspec==2025.9.0
aiobotocore==2.24.2
boto3==1.40.18
botocore==1.40.18
universal-pathlib==0.3.8
