a2wsgi==1.10.10
adal==1.2.7
adlfs==2025.8.0
aenum==3.1.16
agate==1.9.1
aiobotocore==2.24.2
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aioresponses==0.7.8
aiosignal==1.4.0
aiosqlite==0.21.0
airflow-provider-duckdb==0.2.0
alembic==1.16.5
annotated-types==0.7.0
anyio==4.12.1
apache-airflow==3.1.0
apache-airflow-core==3.1.0
apache-airflow-devel-common==0.1.1
apache-airflow-providers-amazon==9.14.0
apache-airflow-providers-cncf-kubernetes==10.8.1
apache-airflow-providers-common-compat==1.7.4
apache-airflow-providers-common-io==1.6.3
apache-airflow-providers-common-sql==1.28.1
apache-airflow-providers-docker==4.4.3
apache-airflow-providers-google==18.0.0
apache-airflow-providers-http==5.3.4
apache-airflow-providers-microsoft-azure==12.7.1
apache-airflow-providers-postgres==6.3.0
apache-airflow-providers-smtp==2.2.1
apache-airflow-providers-standard==1.8.0
apache-airflow-task-sdk==1.1.0
argcomplete==3.6.2
asgiref==3.9.2
asn1crypto==1.5.1
asttokens==3.0.1
asyncpg==0.30.0
attrs==25.4.0
azure-batch==14.2.0
azure-common==1.1.28
azure-core==1.35.1
azure-cosmos==4.9.0
azure-datalake-store==0.0.53
azure-identity==1.25.0
azure-keyvault-secrets==4.10.0
azure-kusto-data==5.0.5
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerregistry==14.0.0
azure-mgmt-core==1.6.0
azure-mgmt-cosmosdb==9.8.0
azure-mgmt-datafactory==9.2.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==24.0.0
azure-mgmt-storage==23.1.0
azure-nspkg==3.0.2
azure-servicebus==7.14.2
azure-storage-blob==12.26.0
azure-storage-file-datalake==12.21.0
azure-storage-file-share==12.22.0
azure-synapse-artifacts==0.21.0
azure-synapse-spark==0.7.0
babel==2.18.0
backoff==2.2.1
beautifulsoup4==4.13.5
boto3==1.40.18
botocore==1.40.18
build==1.4.0
cachetools==5.5.2
cadwyn==5.4.4
cattrs==25.2.0
certifi==2026.1.4
cffi==2.0.0
cfgv==3.5.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
colorlog==6.9.0
coverage==7.13.3
cron-descriptor==2.0.6
croniter==6.0.0
cryptography==46.0.4
daff==1.4.2
databricks-sdk==0.77.0
databricks-sql-connector==4.1.3
db-dtypes==1.5.0
dbt-adapters==1.22.5
dbt-bigquery==1.11.0
dbt-common==1.37.2
dbt-core==1.11.2
dbt-databricks==1.11.4
dbt-duckdb==1.10.0
dbt-extractor==0.6.0
dbt-loom==0.9.4
dbt-postgres==1.10.0
dbt-protos==1.0.427
dbt-semantic-interfaces==0.9.0
dbt-spark==1.10.0
dbt-vertica==1.0.4
decorator==5.2.1
deepdiff==8.6.1
deprecated==1.2.18
deprecation==2.1.0
dill==0.4.0
distlib==0.4.0
distro==1.9.0
dnspython==2.8.0
docker==7.1.0
docstring-parser==0.17.0
duckdb==1.4.4
duckdb-engine==0.17.0
durationpy==0.10
email-validator==2.3.0
et-xmlfile==2.0.0
execnet==2.1.2
executing==2.2.1
fastapi==0.117.1
fastapi-cli==0.0.13
fastjsonschema==2.21.2
fastuuid==0.12.0
filelock==3.20.3
frozenlist==1.7.0
fsspec==2025.9.0
gcloud-aio-auth==5.4.2
gcloud-aio-bigquery==7.1.0
gcloud-aio-storage==9.6.0
gcsfs==2025.9.0
google-ads==28.0.0
google-analytics-admin==0.25.0
google-api-core==2.29.0
google-api-python-client==2.183.0
google-auth==2.48.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.4
google-cloud-aiplatform==1.136.0
google-cloud-alloydb==0.4.9
google-cloud-appengine-logging==1.6.2
google-cloud-audit-log==0.3.2
google-cloud-automl==2.16.4
google-cloud-batch==0.17.37
google-cloud-bigquery==3.40.0
google-cloud-bigquery-datatransfer==3.19.2
google-cloud-bigtable==2.32.0
google-cloud-build==3.32.0
google-cloud-compute==1.38.0
google-cloud-container==2.59.0
google-cloud-core==2.5.0
google-cloud-datacatalog==3.27.1
google-cloud-dataflow-client==0.9.0
google-cloud-dataform==0.6.2
google-cloud-dataplex==2.12.0
google-cloud-dataproc==5.24.0
google-cloud-dataproc-metastore==1.19.0
google-cloud-dlp==3.32.0
google-cloud-kms==3.6.0
google-cloud-language==2.17.2
google-cloud-logging==3.12.1
google-cloud-managedkafka==0.1.12
google-cloud-memcache==1.12.2
google-cloud-monitoring==2.27.2
google-cloud-orchestration-airflow==1.17.5
google-cloud-os-login==2.17.2
google-cloud-pubsub==2.31.1
google-cloud-redis==2.18.1
google-cloud-resource-manager==1.16.0
google-cloud-run==0.11.0
google-cloud-secret-manager==2.24.0
google-cloud-spanner==3.58.0
google-cloud-speech==2.33.0
google-cloud-storage==3.1.1
google-cloud-storage-transfer==1.17.0
google-cloud-tasks==2.19.3
google-cloud-texttospeech==2.30.0
google-cloud-translate==3.21.1
google-cloud-videointelligence==2.16.2
google-cloud-vision==3.10.2
google-cloud-workflows==1.18.2
google-crc32c==1.8.0
google-genai==1.62.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
greenback==1.2.1
greenlet==3.2.4
grpc-google-iam-v1==0.14.3
grpc-interceptor==0.15.4
grpcio==1.76.0
grpcio-gcp==0.2.2
grpcio-status==1.76.0
h11==0.16.0
h2==4.3.0
hf-xet==1.1.10
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.0
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.35.1
hyperframe==6.1.0
icdiff==2.0.7
identify==2.6.16
idna==3.11
ijson==3.4.0
immutabledict==4.2.1
importlib-metadata==8.7.1
inflection==0.5.1
iniconfig==2.3.0
ipdb==0.13.13
ipython==9.10.0
ipython-pygments-lexers==1.1.1
isodate==0.7.2
itsdangerous==2.2.0
jaraco-classes==3.4.0
jaraco-context==6.1.0
jaraco-functools==4.4.0
jedi==0.19.2
jinja2==3.1.6
jiter==0.11.0
jmespath==0.10.0
joblib==1.5.2
jsonpath-ng==1.7.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-core==5.9.1
keyring==25.5.0
kgb==7.3
kubernetes==32.0.1
kubernetes-asyncio==32.3.2
lazy-object-proxy==1.12.0
leather==0.4.1
libcst==1.8.4
linkify-it-py==2.0.3
litellm==1.77.3
lockfile==0.12.2
looker-sdk==25.16.0
lxml==5.4.0
lz4==4.4.5
madoka==0.7.1
mako==1.3.10
markdown-it-py==4.0.0
markupsafe==3.0.3
marshmallow==3.26.1
mashumaro==3.14
matplotlib-inline==0.2.1
mdurl==0.1.2
methodtools==0.4.7
microsoft-kiota-abstractions==1.9.7
microsoft-kiota-authentication-azure==1.9.7
microsoft-kiota-http==1.9.7
microsoft-kiota-serialization-json==1.9.7
microsoft-kiota-serialization-text==1.9.7
more-itertools==10.8.0
msal==1.34.0
msal-extensions==1.3.1
msgpack==1.1.2
msgraph-core==1.3.8
msgspec==0.19.0
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.6.4
mypy==1.9.0
mypy-extensions==1.1.0
natsort==8.4.0
nbformat==5.10.4
networkx==3.6.1
nodeenv==1.10.0
numpy==2.4.2
oauthlib==3.3.1
openai==1.109.0
openlineage-airflow==1.41.0
openlineage-integration-common==1.40.0
openlineage-python==1.40.0
openlineage-sql==1.40.0
openpyxl==3.1.5
opentelemetry-api==1.37.0
opentelemetry-exporter-otlp==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-grpc==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
orderly-set==5.5.0
outcome==1.3.0.post0
packaging==26.0
pandas==2.2.3
pandas-gbq==0.33.0
paradime-io==4.18.0
parsedatetime==2.6
parso==0.8.5
pdbr==0.9.7
pendulum==3.1.0
pexpect==4.9.0
pip==26.0.1
platformdirs==4.5.1
pluggy==1.6.0
ply==3.11
pondpond==1.4.1
pprintpp==0.4.0
pre-commit==4.5.1
prompt-toolkit==3.0.52
propcache==0.3.2
proto-plus==1.27.1
protobuf==6.33.5
psutil==7.2.2
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure-eval==0.2.3
py4j==0.10.9.9
pyarrow==23.0.0
pyasn1==0.6.2
pyasn1-modules==0.4.2
pyathena==3.18.0
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.41.5
pydata-google-auth==1.9.1
pygments==2.19.2
pygtrie==2.5.0
pyjwt==2.11.0
pyopenssl==25.3.0
pyparsing==3.2.5
pyproject-hooks==1.2.0
pyspark==4.1.1
pytest==8.4.2
pytest-asyncio==0.25.0
pytest-cov==7.0.0
pytest-custom-exit-code==0.3.0
pytest-describe==3.1.0
pytest-dotenv==0.5.2
pytest-icdiff==0.9
pytest-instafail==0.5.0
pytest-mock==3.15.1
pytest-rerunfailures==16.1
pytest-split==0.11.0
pytest-timeouts==1.2.1
pytest-unordered==0.7.0
pytest-xdist==3.8.0
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
python-slugify==8.0.4
pytimeparse==1.1.8
pytokens==0.4.1
pytz==2025.2
pyyaml==6.0.3
pyyaml-ft==8.0.0
redshift-connector==2.1.8
referencing==0.37.0
regex==2025.9.18
requests==2.32.5
requests-mock==1.12.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retryhttp==1.3.3
rich==14.3.2
rich-argparse==1.7.1
rich-toolkit==0.15.1
rpds-py==0.30.0
rsa==4.9.1
ruamel-yaml==0.18.15
ruamel-yaml-clib==0.2.14
ruff==0.11.2
s3fs==2025.9.0
s3transfer==0.13.1
sagemaker-studio==1.0.21
scikit-learn==1.7.2
scipy==1.16.2
scramp==1.4.6
semver==3.0.4
setproctitle==1.3.7
setuptools==80.10.2
shapely==2.1.1
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowplow-tracker==1.1.0
soupsieve==2.8
sqlalchemy==2.0.43
sqlalchemy-bigquery==1.15.0
sqlalchemy-jsonfield==1.0.2
sqlalchemy-spanner==1.16.0
sqlalchemy-stubs==0.4
sqlalchemy-utils==0.42.0
sqlparams==6.2.0
sqlparse==0.5.4
stack-data==0.6.3
starlette==0.48.0
std-uritemplate==2.0.5
structlog==25.4.0
svcs==25.1.0
tabulate==0.9.0
tenacity==9.1.3
termcolor==3.1.0
text-unidecode==1.3
threadpoolctl==3.6.0
thrift==0.20.0
tiktoken==0.11.0
time-machine==3.2.0
tokenizers==0.22.1
tqdm==4.67.1
traitlets==5.14.3
typer==0.19.2
types-aiofiles==25.1.0.20251011
types-attrs==19.1.0
types-certifi==2021.10.8.3
types-cffi==1.17.0.20250915
types-croniter==6.0.0.20250809
types-deprecated==1.3.1.20260130
types-docutils==0.22.3.20251115
types-markdown==3.10.0.20251106
types-networkx==3.6.1.20251220
types-paramiko==4.0.0.20250822
types-protobuf==6.32.1.20250918
types-pymysql==1.1.0.20251220
types-pyopenssl==24.1.0.20240722
types-python-dateutil==2.9.0.20260124
types-python-slugify==8.0.2.20240310
types-pytz==2025.2.0.20251108
types-pyyaml==6.0.12.20250915
types-redis==4.6.0.20241004
types-requests==2.32.4.20250913
types-setuptools==80.10.0.20260124
types-tabulate==0.9.0.20241207
types-toml==0.10.8.20240310
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
uc-micro-py==1.0.3
universal-pathlib==0.2.6
uritemplate==4.2.0
urllib3==2.6.3
uuid6==2025.0.1
uv==0.9.30
uvicorn==0.37.0
uvloop==0.21.0
vertica-python==1.4.0
virtualenv==20.36.1
watchfiles==1.1.0
watchtower==3.4.0
wcwidth==0.5.3
websocket-client==1.8.0
websockets==15.0.1
werkzeug==2.3.8
wheel==0.46.3
wirerope==1.0.0
wrapt==1.17.3
yamllint==1.38.0
yarl==1.20.1
zipp==3.23.0
