aenum
apache-airflow
apache-airflow-providers-amazon[s3fs]>=3.0.0
apache-airflow-providers-cncf-kubernetes>=5.1.1
apache-airflow-providers-google
apache-airflow-providers-microsoft-azure
google-re2==1.1
msgpack
openlineage-airflow
pydantic
pydata-sphinx-theme
sphinx
sphinx-autoapi
sphinx-autobuild
