aenum
apache-airflow==2.10
PyAthena==3.9.0
redshift-connector==2.1.3
fsspec==2024.6.1
boto3==1.34.131
aiobotocore==2.13.2
apache-airflow-providers-amazon[s3fs]==8.27.0
apache-airflow-providers-cncf-kubernetes==8.3.4
apache-airflow-providers-google==10.21.1
apache-airflow-providers-microsoft-azure==10.3.0
apache-airflow-providers-openlineage==1.10.0
msgpack
pydata-sphinx-theme
sphinx
sphinx-autoapi
sphinx-autobuild
